<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<<<<<<< 29109e4050db15eac82dbe551c19505022bd680d
<p>This will be a signup page for new users.</p>
=======
<p>This will be a signup page for new users.</p>
>>>>>>> Finish layout and routes
